* {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}

style {
  display: none;
}

:root {
  --primary: #314f35;
  --secondary: #57915f;
  --white: #f3f3f3;
  --black: rgba(0, 0, 0, 0.3);
  --dark-black: #111;
  --alternative: #009978;
}