.wallet-money {
  margin: auto;
  margin-left: 200px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.display-wrapper {
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.current-day {
  margin: auto;
  margin-right: 100px;
  font-size: 24px;
  font-weight: bold;
}

.population {
  margin: auto;
}

H1 {
  margin:20px; 
}

.separator {
  background-color: var(--alternative);
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
}