.display-wrapper {
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.wallet-money {
  margin: auto;
  margin-left: 50px;
  font-size: 36px;
  font-weight: bold;
  color: var(--primary);
  /* color: var(--dark-black); */
}

H1 {
  color: var(--primary);
  margin:20px 50px; 
}
