<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="display: none">Pocket City</title>
  </head>
  <body>
    <main class="display-wrapper">
      <h1>POCKET CITY</h1>
      <div class="wallet-money">$ 0.00</div>
    </main>
    <div class="separator"></div>

    <div class="purchase-wrapper">
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="house"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="house"></div>
            <p class="building-amount" id="house"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="house-slider"></div>
            <p class="price-label" id="house-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="house-profite"></div>
            <button class="pucharse-button" id="house-button" name="disable">Buy House</button>
            <button class="mutiplier-button" id="house"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="factory"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="factory"></div>
            <p class="building-amount" id="factory"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="factory-slider"></div>
            <p class="price-label" id="factory-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="factory-profite"></div>
            <button class="pucharse-button" id="factory-button" name="disable">Buy Factory</button>
            <button class="mutiplier-button" id="factory"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="shop"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="shop"></div>
            <p class="building-amount" id="shop"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="shop-slider"></div>
            <p class="price-label" id="shop-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="shop-profite"></div>
            <button class="pucharse-button" id="shop-button" name="disable">Buy Shop</button>
            <button class="mutiplier-button" id="shop"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="school"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="school"></div>
            <p class="building-amount" id="school"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="school-slider"></div>
            <p class="price-label" id="school-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="school-profite"></div>
            <button class="pucharse-button" id="school-button" name="disable">Buy School</button>
            <button class="mutiplier-button"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="public-transport"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="public-transport"></div>
            <p class="building-amount" id="public-transport"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="public-transport-slider"></div>
            <p class="price-label" id="public-transport-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="public-transport-profite"></div>
            <button class="pucharse-button" id="public-transport-button" name="disable">Buy Public Transport</button>
            <button class="mutiplier-button" id="public-transport"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="usine"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="usine"></div>
            <p class="building-amount" id="usine"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="usine-slider"></div>
            <p class="price-label" id="usine-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="usine-profite"></div>
            <button class="pucharse-button" id="usine-button" name="disable">Buy Usine</button>
            <button class="mutiplier-button" id="usine" id="usine"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="church"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="church"></div>
            <p class="building-amount" id="church"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="church-slider"></div>
            <p class="price-label" id="church-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="church-profite"></div>
            <button class="pucharse-button" id="church-button" name="disable">Buy Church</button>
            <button class="mutiplier-button" id="church" id="church"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="mall"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="mall"></div>
            <p class="building-amount" id="mall"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="mall-slider"></div>
            <p class="price-label" id="mall-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="mall-profite"></div>
            <button class="pucharse-button" id="mall-button" name="disable">Buy Mall</button>
            <button class="mutiplier-button" id="mall" id="mall"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="airport"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="airport"></div>
            <p class="building-amount" id="airport"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="airport-slider"></div>
            <p class="price-label" id="airport-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="airport-profite"></div>
            <button class="pucharse-button" id="airport-button" name="disable">Buy Airport</button>
            <button class="mutiplier-button" id="airport" id="airport"></button>
          </div>
        </div>
      </div>
      <div class="building-container">
        <div class="building-icon-wrapper">
          <div class="building-icon" id="city-hall"></div>
          <div class="progress-bar-wrapper">
            <div class="animated-progress-bar" id="city-hall"></div>
            <p class="building-amount" id="city-hall"></p>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="animated-slider" id="city-hall-slider"></div>
            <p class="price-label" id="city-hall-price"></p>
          </div>
          <div class="button-container">
            <div class="profite-label" id="city-hall-profite"></div>
            <button class="pucharse-button" id="city-hall-button" name="disable">Buy City Hall</button>
            <button class="mutiplier-button" id="city-hall" id="city-hall"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
