<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="display: none">Pocket City</title>
  </head>
  <body>
    <main class="display-wrapper">
      <h1>POCKET CITY</h1>
      <div class="wallet-money">$ 0.00</div>
      <div class="week-profite">+ 0.00</div>
      <div class="population">Population: 0</div>
    </main>

    <div class="purchase-wrapper">
      <div class="purchase-button-container">
        <div class="purchase-icon" id="house"></div>
        <button class="purchase-button" id="house-button" name="active">Buy House</button>
        <div class="slider-wrapper" id="house-slider">
          <p class="purchase-price" id="house-price">$ 7.00</p>
          <div class="slider" id="house-slider"></div>
        </div>
        <div class="profite-label" id="house-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon" id="factory"></div>
        <button class="purchase-button" id="factory-button" name="disable">Buy Factory</button>
        <div class="slider-wrapper" id="factory-slider">
          <p class="purchase-price" id="factory-price"></p>
          <div class="slider" id="factory-slider"></div>
        </div>
        <div class="profite-label" id="factory-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="shop-button" name="disable">Buy Shop</button>
        <div class="slider-wrapper" id="shop-slider">
          <p class="purchase-price" id="shop-price"></p>
          <div class="slider" id="shop-slider"></div>
        </div>
        <div class="profite-label" id="shop-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="school-button" name="disable">Buy School</button>
        <div class="slider-wrapper" id="school-slider">
          <p class="purchase-price" id="school-price"></p>
          <div class="slider" id="school-slider"></div>
        </div>
        <div class="profite-label" id="school-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="public-transport-button" name="disable">Buy Public Transport</button>
        <div class="slider-wrapper" id="public-transport-slider">
          <p class="purchase-price" id="public-transport-price"></p>
          <div class="slider" id="public-transport-slider"></div>
        </div>
        <div class="profite-label" id="public-transport-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="usine-button" name="disable">Buy Usine</button>
        <div class="slider-wrapper" id="usine-slider">
          <p class="purchase-price" id="usine-price"></p>
          <div class="slider" id="usine-slider"></div>
        </div>
        <div class="profite-label" id="usine-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="church-button" name="disable">Buy Church</button>
        <div class="slider-wrapper" id="church-slider">
          <p class="purchase-price" id="church-price"></p>
          <div class="slider" id="church-slider"></div>
        </div>
        <div class="profite-label" id="church-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="mall-button" name="disable">Buy Mall</button>
        <div class="slider-wrapper" id="mall-slider">
          <p class="purchase-price" id="mall-price"></p>
          <div class="slider" id="mall-slider"></div>
        </div>
        <div class="profite-label" id="mall-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="airport-button" name="disable">Buy Airport</button>
        <div class="slider-wrapper" id="airport-slider">
          <p class="purchase-price" id="airport-price"></p>
          <div class="slider" id="airport-slider"></div>
        </div>
        <div class="profite-label" id="airport-profite"></div>
      </div>
      <div class="purchase-button-container">
        <div class="purchase-icon"></div>
        <button class="purchase-button" id="city-hall-button" name="disable">Buy City Hall</button>
        <div class="slider-wrapper" id="city-hall-slider">
          <p class="purchase-price" id="city-hall-price"></p>
          <div class="slider" id="city-hall-slider"></div>
        </div>
        <div class="profite-label" id="city-hall-profite"></div>
      </div>
    </div>
  </body>
</html>
