<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="display: none">Pocket City</title>
  </head>
  <body>
    <main class="display-wrapper">
      <h1>POCKET CITY</h1>
      <div class="wallet-money">$ 0.00</div>
      <div class="week-profite">+ 0.00</div>
      <div class="population">Population: 0</div>
      <div class="current-day">Day 0</div>
    </main>

    <div class="purchase-wrapper">
      <div class="purchase-button-container">
        <button class="purchase-button" id="house-button" name="active">Buy House</button>
        <p class="purchase-price" id="house-price"></p>
      </div>
      <div class="purchase-button-container">
        <button class="purchase-button" id="factory-button" name="active">Buy Factory</button>
        <p class="purchase-price" id="factory-price"></p>
      </div>
    </div>

    <div class="info-card"></div>

    <div class="neighborhood">
      <div class="house-entity" style="display: none"></div>
      <div class="factory-entity" style="display: none"></div>
    </div>
  </body>
</html>
